<div class="mb-6">
  <%= link_to "Back", instructor_path, class: 'btn btn-default' %>
</div>

<h2 class="mb-4 text-center font-bold text-slate-600">Edit instructor <%= "#{@instructor.name}
                                                                          #{@instructor.surname}" %></h2>

<%= render 'instructor_form' %>
