<% if user_signed_in? %>
  <h5 class="text-2xl mb-4 w-full text-center">
    Hello, <strong><%= current_user.login %></strong>!
  </h5>
  <div>
    <%= link_to 'Instructors', instructors_path, :class => 'link-button-blue' %>
    <%= link_to 'Students', students_path, :class => 'link-button-blue' %>
  </div>
<% else %>
  <%= render template: 'devise/sessions/new' %>
<% end %>
