<div>
  <h1 class="font-bold text-5xl text-center mb-4 text-gray-800">
    Welcome to Skydive Dubai Desert Campus!
  </h1>
  <div>
    <% unless user_signed_in? %>
      <h2 class="text-center mb-4">
        If you have login and password, please enter its bellow:
      </h2>
    <% end %>
    <%= render "users/sessions/login_form" %>
  </div>
</div>
